{% extends "index.html" %}

{% block container %}

<div id="services_list">
  <ul>
    <li v-for="service in services">
      <div> <a :onclick="'setServiceForm('+service+')'">{%raw%} {{service.id}} {{service.Name}} {{service.Price}}{%endraw%}</a></div>

    </li>
  </ul>

</div>
<div id="service_record">
  <form action="/">
    <div>
      <label for="Name">Nombre</label>
      <input type="text" id="Name" name="Name" v-model="Name">
    </div>
    <div>
      <label for="Price">Precio</label>
      <input type="number" id="Price" name="Price" v-model="Price">
    </div>
    <div>
      <button type="button" onclick="saveService()">Grabar</button>
    </div>

  </form>
</div>

<script src="{{ url_for('static', filename='js/serviceslist.js') }}"></script>
<script src="{{ url_for('static', filename='js/service.js') }}"></script>

<script type=text/javascript>
  showServices()
</script>

{% endblock %}